# GitLab CI/CD pipeline for Hugo site deployment to GitLab Pages
# This file configures the build and deployment process

# Define the stages
stages:
  - build
  - deploy

# Variables
variables:
  HUGO_VERSION: "0.125.0"
  NODE_VERSION: "18"

# Build stage
build:
  stage: build
  image: alpine:latest
  before_script:
    # Install Hugo
    - apk add --no-cache wget
    - wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
    - tar -xzf hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
    - mv hugo /usr/local/bin/
    - hugo version
  script:
    # Build the Hugo site
    - hugo --minify --baseURL $CI_PAGES_URL --environment production
  artifacts:
    paths:
      - public
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Deploy stage
pages:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache rsync
  script:
    # Copy the built site to the public directory
    - rsync -av --delete public/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
